.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: 400px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
}


img {
   flex-basis: 50%;
   flex-grow: 1;
   background: tomato;
   border: 1px solid #ccc;
   overflow: hidden;
   max-height: 400px;
   min-height: 400px;
   max-width: 400px;
}


.card {
  max-height: 400px;
  min-height: 400px;
  
}



#groot {
  min-height: 400px;
  max-height: 400px;
  max-width: 400px;
}